// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/*.button-scan {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background-color: gray;
    margin: 30px;
    border-radius: 50%;

    svg {
      width: 100%;
      height: 100%;
      padding: 12px;
    }
}*/

.button {
  >div {
    padding: 12px 40px 10px 40px;
    border-radius: 10px;
    background-color: $color-purple;
    font-weight: 800;
    font-size: 15px;
    color: $color-white;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
  }

  &:hover {
    div {
      background-color: #8e6eff;
      color: white;
    }
  }

  &--blue {
    div {
      background-color: $color-dark-blue;
    }

    &:hover {
      div {
        background-color: #26356a !important;
        color: white;
      }
    }
  }

  &.inactive {
    pointer-events: none;

    div {
      background-color: #43009b;
      color: #827f91;
    }
  }
}
