<div class="blobs js-container-blobs blobs--<%= pages ? pages : '' %>" data-pages="<%= pages ? pages : '' %>">
    <!--<div class="grid">
        <img src="../../assets/images/blobs/grid.png">
    </div>-->
    <canvas id="blobs" resize></canvas>
</div>
