<div class="popup js-popup">
    <div class="container">
        <p class="js-popup-title"></p>
    </div>

    <div class="blobs">
        <!--<div class="grid">
            <img src="../../assets/images/blobs/grid.png">
        </div>-->
        <canvas id="blobs-popup" resize></canvas>
    </div>
</div>
