<div class="popup js-popup">
    <div class="container">
        <p class="js-popup-title"></p>
    </div>

    <div class="popup__top bg">
        <img src="../../assets/images/popup/bg-top.png">
    </div>

    <div class="popup__bottom bg">
        <img src="../../assets/images/popup/bg-bottom.png">
    </div>
</div>
