<div>
    <h1>Bienvenue !</h1>

    <%- include('../components/button', { buttonLink : '/views/pages/login.ejs', buttonText : "C'est partie !" }); %>

    <div class="js-dashboard">
        <div class="grid-container js-grid-container">
            <div class="simple-cursor" style="grid-area: 1 / 1 / 3 / 2; background-color: rgb(53, 25, 77);"><p>Température de la cir</p></div>
            <div class="complex-list" style="grid-area: 1 / 2 / 3 / 4; background-color: rgb(47, 67, 47);"><p>Maillot</p></div>
            <div class="bool" style="grid-area: 3 / 1 / 4 / 2; background-color: rgb(147, 133, 14);"><p>Monosourcil</p></div>
            <div class="simple-list" style="grid-area: 3 / 2 / 4 / 4; background-color: rgb(203, 244, 6);"><p>Poils</p></div></div>
    </div>
</div>
