<div>
    <h1>Bienvenu !</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis euismod mattis. Nunc interdum, lacus a egestas sodales, nunc mauris fermentum turpis, a malesuada dui justo at libero.</p>

    <%- include('../components/button', { buttonLink : 'views/pages/login.ejs', buttonText : "C'est partie !" }); %>
</div>
