<div class="welcome">
    <div class="welcome__img">
        <%- include('../../assets/images/cover.svg'); %>
    </div>
    <div class="container container--ultra container--end">
        <p>Lâchez-vous ! Parlez à voix haute et ne lésigniez pas sur la communication avec vos amis pour réussir au mieux le jeu des tabous !</p>
        <%- include('../components/button', { buttonLink : '/views/pages/login.ejs', buttonText : "C'EST PARTI !", buttonClass : "" }); %>
    </div>
</div>
