<<<<<<< HEAD
<div>
    <h1>Bienvenue !</h1>
    <p>Préparez-vous à jouer au Boutabou !</p>
    <%- include('../components/button', { buttonLink : '/views/pages/login.ejs', buttonText : "C'est partie !" }); %>
=======
<div class="welcome">
    <div class="welcome__img">
        <%- include('../../assets/images/cover.svg'); %>
    </div>
    <div class="container container--ultra container--end">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ...</p>
        <%- include('../components/button', { buttonLink : '/views/pages/login.ejs', buttonText : "COMMENCER", buttonClass : "" }); %>
    </div>
>>>>>>> main
</div>
