<div class="welcome">
    <img src="../../assets/images/cover.jpg"/>
    <div class="container container--ultra container--end">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ...</p>
        <%- include('../components/button', { buttonLink : '/views/pages/login.ejs', buttonText : "COMMENCER", buttonClass : "" }); %>
    </div>
</div>
