.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;

  .level {
    position: absolute;
    top: 0;
    font-size: 14px;
    font-weight: 600;
    left: 20px;
    padding: 8px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $color-purple;
  }

  .task-container {
    position: absolute;
    top: calc(40vh - 37px);
    width: 290px;
    height: 73px;
    border-radius: 10px;
    margin: auto;
    -webkit-box-shadow: 10px 10px 29px -9px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 10px 10px 29px -9px rgba(0, 0, 0, 0.57);
    box-shadow: 10px 10px 29px -9px rgba(0, 0, 0, 0.57);
    overflow: hidden;
    border-radius: 25px;
    background-color: #6500FF;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      position: absolute;
      right: 0;
      z-index: 3;
      overflow: visible;
      top: 1px;
      max-width: 100%;
      max-height: 100%;
    }

    .task-content {
      width: 80%;


      .task {
        text-align: center;
        color: white;
        font-size: 18px;
      }
    }
  }

  .grid-container {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
    width: 100%;
    height: 60vh;
    min-height: 350px;
    font-size: 14px;
    padding: 50px 20px 20px 20px;

    &--disable {
      display: none;
    }

    >div {
      background-color: #fff;
      border-radius: 15px;
      -webkit-box-shadow: 0px 0px 15px -3px #000000;
      box-shadow: 0px 0px 15px -3px #000000;
      padding: 5px;

      p {
        color: $color-purple;
        font-size: 16px;
        font-weight: 700;
        margin: 0;
      }

    }

    p {
      width: 100%;
      text-align: center;
    }
  }

  &__background-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    display: flex;
    max-height: 500px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: $breakpoints-small) {

  .dashboard {
    .task-container {
      width: 246px;
      height: 63px;
      font-size: 15px;

      .task-content{
        top: 0;
        left: 0;
        margin: 10px auto;
      }
    }

    .grid-container{
      min-height: 250px;
      position: absolute;
      bottom: 0;

      > div {
        p {
          font-size: 13px;
        }
      }
    }
  }

}
