.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  width: 300px;
  height: 300px;

  p {
    font-size: 1rem;
    margin: auto;
  }

  .container-cursor {
    /*outline: 1px solid gray;
    height: 80%;
    width: 100%;
    margin: auto;
    position: relative;*/

    height: 80%;
    width: 80%;
    margin: auto;
    position: relative;

    .progress-bar {
      margin: auto;
      background-color: rgb(255, 255, 255);

      &.progress-horizontal{
        /*width: 100%;
        height: 3px;*/
        width: calc( 100% - 25px);
        height: 5px;
        transform: translateY(12.5px);
      }

      &.progress-vertical{
        height: calc(100% - 25px);
        transform: translateY(10px);
        width: 5px;
      }
    }

    .cursor {
      height: 30px;
      width: 30px;    
      position: absolute;
      background: rgb(211, 211, 211);
      border-radius: 50px;
      //left: -15px;
      z-index: 1;
      left: 0;
      font-size: bold; 
      right: 0;
      //margin: auto;
      transition: transform ease-in-out .2s;

      &.cursor-vertical {
        left: calc( 50% - 14px);
      }
    }

    .steps {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 0;
        top: 0;

        &.steps-vertical{
          height: calc( 100% + 34px );
          top: -19.5px;
          div{
            width: 44%;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
          }
        }

        &.steps-horizontal {
          display: flex;
          flex-direction: row;
          height: 100%;
          width: calc( 100% + 50px );
          position: absolute;
          z-index: 0;
          top: 0;
        }
        
        div {
          display: flex;
          align-items: center;
        }
    }
  }
}




