.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .task {
    height: calc(100vh - 350px);
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    width: 100%;
    height: 350px;
    font-size: 14px;

    &__btn {
      background-color: white;
      width: 80%;
      display: flex;
      padding: 10px;
      justify-content: center;
      font-size: 16px;
      margin-top: 4px;

      &:hover {
        background-color: #d6d6d6;
      }
    }

    .bool, .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        margin-top: 0;
      }
    }
  }
}
