<div class="login js-login">
    <form class="login__container" action="">
        <label for="name">Username</label>
        <input class="js-username" type="text" id="name" name="name" required autofocus>
        <button class="js-login-button" type="button">Login</button>
    </form>
</div>
