<div class="block login js-login">
    <form class="login__container" action="">
        <label for="name">Pseudo</label>
        <input class="js-username" type="text" id="name" name="name" required autofocus>
        <a class="js-login-button" href="/views/pages/room.ejs" type="button">Login</a>
    </form>
</div>
