.scan {
  overflow: hidden;

  #qr-reader {
    min-height: 100vh !important;
    video {
      width: auto !important;
      height: 100% !important;
      min-width: 100vw;
      min-height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    #qr-shaded-region {
      border-width: calc(50vh - 128px) calc(50vw - 128px)!important;
    }
  }
}
