// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Background color
/// @type Color
$color-dark-blue: #040f33 !default;

/// Text color
/// @type Color
$color-white: #FFFDDF !default;

/// Purple
/// @type Color
$color-purple: #6500ff !default;

/// Red
/// @type Color
$color-red: #FE6A7A !default;

/// Yellow
/// @type Color
$color-yellow: #FFE202 !default;

/// Cyan
/// @type Color
$color-cyan: #5FE7EF !default;

/// Pink
/// @type Color
$color-pink: #FCC5DD !default;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


/// Font sizes
/// @type Number
$medium-size: 18px;
$small-size: 14px;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

$breakpoints-large : 520px !default;
$breakpoints-medium : 400px !default;
$breakpoints-small : 340px !default;

$container-padding: 30px !default;
$container-padding-vertical: 50px !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

$font-text: 'Objective';

@font-face {
  font-family: $font-text;
  font-weight: normal;
  src: url('../assets/fonts/Objective/Objective-Regular.woff2') format("woff2");
}

@font-face {
  font-family: $font-text;
  font-weight: bold;
  src: url('../assets/fonts/Objective/Objective-Bold.woff2') format("woff2");
}

@font-face {
  font-family: $font-text;
  font-weight: 800;
  src: url('../assets/fonts/Objective/Objective-ExtraBold.woff2') format("woff2");
}
