// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.welcome {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  align-items: center;
  height: 100%;
  
  &__img {
    top: 26vh;
    position: absolute;
    width: 45vw;
    z-index: 1000;

    svg {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  p {
    text-align: center;
    font-size: 14px;
    padding: 0 20px 12vh 20px;
  }
}
