// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.welcome {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;

  &__img {
    bottom: 180px;
    position: absolute;
    width: 100vw;
    min-height: calc(100vh - 180px);

    svg {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  p {
    text-align: center;
    font-size: 14px;
    padding-bottom: 10px;
  }
}

@media (max-width: $breakpoints-medium) {
  .welcome {
    &__img {
      width: 110vw;
      margin-left: -5vw;
    }
  }
}

@media (max-width: $breakpoints-small) {
  .welcome {
    &__img {
      width: 120vw;
      margin-left: -10vw;
    }
  }
}
