.login {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .split-text--title {
      width: 60%;
    }

    .container-pseudo {
      background-color: $color-dark-blue;
      margin-top: auto;
      padding-bottom: 18vh;
    }

    input {
      -webkit-appearance: none;
      margin-bottom: 15px;
      margin-top: 5px;
      padding: 15px;
      background: none;
      border-radius: 15px;
      color: $color-white;
      border-style: solid;
      border-width: 0.5px;
      border-color: $color-white;
      text-align: center;
      font-size: 16px;

      &:focus::placeholder {
        color: transparent;
      }

      &::placeholder {
        color: $color-white;
        opacity: 0.8;
        font-size: 16px;
      }

      &:focus {
        outline: none;
      }
    }

    .button {
      width: fit-content;
    }
  }
}
