.scan-page {
  position: relative;
  height: 100vh;

  &__info {
    position: absolute;
    top: 0;
    min-height: calc(20vh + 20px);
    padding: 20px $container-padding;
    background-color: $color-dark-blue;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

    p {
      text-align: center;

      span {
        font-weight: 800;
        color: $color-cyan;
      }
    }
  }

  &__ios-info{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    top: 40vh;
    text-align: center;
  }

  &__id {
    position: absolute;
    padding: 40px $container-padding;
    bottom: 0;
    width: 100%;

    &-container {
      background-color: $color-dark-blue;
      position: relative;
      padding: 15px 20px;
      display: flex;
      border-radius: 17px;
      transition: all ease-in-out .3s;

      .button div {
        padding: 12px 20px 10px;
      }

      &:hover {
        background-color: $color-purple;

        input {
          opacity: 1;
        }

        .button div {
          background-color: $color-dark-blue;
          transition: all ease-in-out .3s;
        }

        /*p {
          max-width: 0;
        }*/

      }

      p {
        display: none;
        /*position: absolute;
        font-size: 14px;
        left: 20px;
        opacity: 1;
        font-style: italic;
        margin: 0;
        top: calc(50% - 10px);
        max-width: 200px;
        height: 16px;
        overflow: hidden;
        transition: all ease-in-out .4s;
        transition-delay: .1s ;*/
      }


      input {
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        width: calc(100% - 66px);
        color: white;
        font-size: $small-size;
        transition: all ease-in-out .1s;
        //opacity: 0;
        //transition: opacity .45s ease-out .3s;

        &:focus {
          background-color: transparent !important;
        }
      }

      a {
        background-color: $color-purple;
        border-radius: 50px;
        max-width: 70px;

        .button div {
          padding: 12px 40px 10px;
        }
      }

    }
  }
}
