.winner {
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 40px $container-padding;

    >* {
        text-align: center;
    }

    &__avatar {
        width: 100px;
        height: 100px;
        margin-top: 50px;
    }

    &__desc {
        font-size: 18px;
        b {
            color: $color-yellow;
        }
    }

    &__challenge {
        position: relative;
        border: 5px solid $color-cyan;
        border-radius: 23px;

        &-title{
            position: absolute;
            top: -15px;
            right: 0;
            left: 0;
            color: #5fe7ef;
            background-color: #040f33;
            padding: 2px 8px;
            margin: auto;
            width: fit-content;
        }

        &-content {
            padding: 3px 8px;
            font-size: 16px;
        }
    }

    .button {
        margin-top: 50px;
    }
}
