<div class="dashboard js-dashboard">
    <div class="container">
        <div class="task js-task"></div>
        <div class="score js-score">0</div>
    </div>
    <div class="grid-container js-grid-container"></div>
</div>
