<div class="dashboard js-dashboard js-game">
    <div class="container">
        <span class="level js-level"></span>

        <h1 class="js-split-text split-text"><%= theme ? theme.title : '' %></h1>

        <div class="score score--disable js-score-container">

            <div class="score__cursor js-score-cursor">
                <%- include('../../assets/images/game/score-progress.svg'); %>
            </div>

            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <p class="instructions js-instructions"><b>PRÉPAREZ-VOUS À JOUER !</b> Le meilleur joueur pourra donner un défi bien croustillant à la personne de son choix. Alors ouvre grand les oreilles. C’est parti !</p>

        <div class="task-container task-container--purple js-task-container active">
            <div class="task-content">
                <div class="task js-task">Vos missions vont apparaitre ici</div>
            </div>

            <%- include('../../assets/images/game/timer.svg'); %>
        </div>
    </div>

    <p class="timer-start js-timer-start">4</p>

    <div class="grid-container js-grid-container grid-container--disable"></div>
</div>
