<div class="dashboard js-dashboard">
    <div class="container">
        <span class="level js-level"></span>

        <h1 class="js-name js-split-text split-text"></h1>

        <div class="score">

            <div class="score__cursor js-score-cursor">
                <%- include('../../assets/images/game/score-progress.svg'); %>
            </div>

            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>


            <!--<div class="score__end">
                <div class="end js-score-end">
                    <div class="img">
                    </div>
                </div>
            </div>-->
        </div>

        <div class="task-container  active">
            <div class="task-content">
                <div class="task js-task"></div>
            </div>

            <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 80">
                <rect x="5" y="5" class="js-timer" width="310" height="70" rx="23.7"  fill="none" stroke="#fff" stroke-width="10" stroke-linecap="round"/>
            </svg>

        </div>
    </div>


    <div class="grid-container js-grid-container"></div>
    <div class="dashboard__background-container">
        <%- include('../../assets/images/game/dashboard-background.svg'); %>
    </div>
</div>
