<div class="dashboard js-dashboard">
    <div class="task-container js-timer active">
        <div class="task-content">
            <div class="task js-task"></div>
        </div>
        <span class="first active"></span>
        <span class="second active"></span>
        <span class="third active"></span>
        <span class="fourth active"></span>
        <span class="last active"></span>
    </div>

    <div class="grid-container js-grid-container"></div>
</div>
