<div class="dashboard js-dashboard">
    <div class="task-container  active">
        <div class="task-content">
            <div class="task js-task"></div>
        </div>

        <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 80">
            <rect x="5" y="5" class="js-timer" width="310" height="70" rx="23.7"  fill="none" stroke="#fff" stroke-width="10" stroke-linecap="round"/>
        </svg> 
          
    </div>

    <div class="grid-container js-grid-container"></div>
</div>
