<div class="block defeat js-defeat container container--ultra">
    <h1 class="js-split-text split-text split-text--title">Bravo !</h1>

    <p class="js-defeat__team"></p>
    <p class="js-defeat__comment"></p>
    <%- include('../components/button', { buttonLink : './', buttonText : "REJOUER", buttonClass : "" }); %>
</div>
