<div class="block login js-login">
    <form class="login__container container container--ultra" action="">
        <div class="js-split-text split-text split-text--title">Choisis ton avatar</div>
        <div class="container-pseudo js-container-pseudo">
            <div class="avatar js-avatar"></div>
            <input class="js-username" type="text" id="name" name="name" autocomplete="off" placeholder="Pseudo" required>
        </div>
        <div class="container-button">
            <%- include('../components/button', { buttonLink : '/views/pages/room.ejs', buttonText : "LET'S GO", buttonClass : "js-login-button" }); %>
        </div>
    </form>
</div>
