<div class="block login js-login">
    <form class="login__container" action="">
        <label for="name">Pseudo</label>
        <input class="js-username" type="text" id="name" name="name" required autofocus>
        <%- include('../components/button', { buttonLink : '/views/pages/room.ejs', buttonText : "CONNECTION", buttonClass : "js-login-button" }); %>
    </form>
</div>
