<div class="block result-theme js-result-theme container">
    <h1 class="js-split-text split-text split-text--title"><%= theme ? theme.title : '' %></h1>
    <div class="result-theme__content">
        <p><b><%= theme ? theme.end : '' %></b></p>
        <p class="result-theme__text">Découvrez le meilleur joueurs et le défi qu’il peut donner !</p>
    </div>

    <%- include('../components/button', { buttonLink : '/views/pages/winner.ejs?id=' + theme.id, buttonText : "SUIVANT", buttonClass : "js-to-winner-button" }); %>
</div>
