<div class="block result-theme js-result-theme container">
    <h1 class="js-theme-title js-split-text split-text"></h1>
    <img src="#" class="js-theme-img" style="width: 100%; height: 200px; object-fit: cover"/>
    <p class="js-theme-text"></p>

    <%- include('../components/button', { buttonLink : '/views/pages/winner.ejs', buttonText : "SUIVANT", buttonClass : "js-to-winner-button" }); %>
</div>
