<div class="block scan js-scan">
    <div id="qr-reader" style="min-width: 100vw; min-height: 80vh; position: relative;"></div>

    <div class="scan-page__info">
        <p><span>Scannez</span> une carte thématique pour commencer la partie</p>
    </div>

    <div class="scan-page__id">
        <div class="scan-page__id-container">
            <p>Le scan ne fonctionne pas?</p>
            <input class="js-id" type="text" id="name" name="name" placeholder="Saisir l'id de la carte" required autofocus>
            <%- include('../components/button', { buttonLink : '#', buttonText : "GO", buttonClass : "js-id-button" }); %>
        </div>
    </div>
</div>
