<div class="block theme js-theme">
    <h1 class="js-split-text split-text split-text--title"><%= theme ? theme.title : '' %></h1>

    <p><%= theme ? theme.intro : '' %></p>
    <%- include('../components/button', { buttonLink : '/views/pages/game.ejs', buttonText : "JOUER", buttonClass : "" }); %>
</div>
