<div class="block theme js-theme">
    <h1 class="js-theme-title js-split-text split-text"></h1>

    <p class="js-theme-intro"></p>
    <%- include('../components/button', { buttonLink : '#', buttonText : "JOUER", buttonClass : "js-play-button" }); %>
</div>
