<div class="block theme js-theme">
    <h1 class="js-theme-title"></h1>

    <div class="theme__countdown">
        <div class="js-theme-countdown theme__countdown-content"></div>
        <img src="#" class="js-theme-img theme-img"/>
        <%- include ("../../assets/images/count.svg") %>
    </div>


    <p class="js-theme-intro"></p>
</div>
