<div class="block theme js-theme">
    <h1>Vous avez fait votre choix !</h1>
    <p class="js-theme-title"></p>

    <img src="#" class="js-theme-img" style="width: 100%; height: 200px; object-fit: cover"/>
</div>
