<div class="block winner js-winner container">
    <h1 class="js-split-text split-text split-text--title"><%= theme ? theme.title : '' %></h1>
    <img class="js-winner-avatar winner__avatar" src="" alt="winner avatar">
    <p class="js-theme-winner winner__desc"></p>
    <div class="winner__challenge">
        <p class="winner__challenge-title js-split-text split-text"> Défi </p>
        <p class="js-theme-challenge winner__challenge-content"></p>
    </div>

    <%- include('../components/button', { buttonLink : '/views/pages/scan.ejs', buttonText : "SCANNER", buttonClass : "winner__to-scan-button" }); %>
</div>
