<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>

<body>
<main id="swup" class="transition-fade">
    <%- include('../blocks/defeat'); %>
    <%- include('../partials/blobs', { pages : 'defeat' }); %>
</main>

<%- include('../partials/import-js'); %>
</body>
</html>
