<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>

    <%- include('../partials/home'); %>
    <%- include('../components/login'); %>

    <script src="../../public/main.js"></script>
  </body>
</html>
