<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>

    <%- include('../components/login'); %>
    <%- include('../components/chat'); %>

    <script src="../../public/main.js"></script>
  </body>
</html>
