<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>

    <%- include('../partials/welcome'); %>

    <script src="../../public/main.js"></script>
  </body>
</html>
