<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>

<body>
<main id="swup" class="transition-fade">
    <%- include('../components/login'); %>
</main>

<script src="../../public/main.js"></script>
</body>
</html>
