<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <main id="swup" class="transition-fade">
        <%- include('../blocks/login'); %>
        <%- include('../partials/blobs', { pages : 'login' }); %>
    </main>

    <%- include('../partials/import-js'); %>
</body>
</html>
