<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>

<body>
<main id="swup" class="transition-fade">
    <div class="room js-room">

        <div class="js-list-users"></div>
    </div>
</main>

<script src="../../public/main.js"></script>
</body>
</html>
