<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>

<body>

<div class="room js-room">
    <%- JSON.stringify(users) %>

    <div class="js-list-users"></div>
</div>

<script src="../../public/main.js"></script>
</body>
</html>
