<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <main id="swup" class="transition-fade">
        <div class="room-page container container--ultra container--between">
            <%- include('../blocks/room'); %>
            <%- include('../components/button', { buttonLink : '/views/pages/scan.ejs', buttonText : "SCANNER", buttonClass : "" }); %>
        </div>
    </main>

    <%- include('../partials/import-js'); %>
</body>
</html>
