<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>

<body>

<div id="qr-reader" style="width:100%"></div>

    <script src="https://unpkg.com/html5-qrcode/minified/html5-qrcode.min.js"></script>
    <script src="../../public/main.js"></script>

<script>
    // This method will trigger user permissions
    Html5Qrcode.getCameras().then(devices => {
        /**
         * devices would be an array of objects of type:
         * { id: "id", label: "label" }
         */
        if (devices && devices.length) {
            var cameraId = devices[0].id;
            // .. use this to start scanning.

            const html5QrCode = new Html5Qrcode(/* element id */ "qr-reader");
            html5QrCode.start(
                cameraId,
                {
                    fps: 10,    // Optional frame per seconds for qr code scanning
                    qrbox: 500  // Optional if you want bounded box UI
                },
                qrCodeMessage => {
                    // do something when code is read
                    alert(qrCodeMessage)

                    window.location.href="/"

                    html5QrCode.stop().then(ignore => {
                        // QR Code scanning is stopped.
                    }).catch(err => {
                        // Stop failed, handle it.
                    });
                },
                errorMessage => {
                    // parse error, ignore it.
                })
                .catch(err => {
                    // Start failed, handle it.
                });
        }
    }).catch(err => {
        // handle err
    });

</script>
</body>
</html>
